<footer class="footer">
    <div class="social">
        <a href="#"><img src="pictures/facebook.svg" alt="facebook"/></a>
        <a href="#"><img src="pictures/twitter.svg" alt="twitter"/></a>
        <a href="#"><img src="pictures/instagram.svg" alt="instagram"/></a>
        <a href="#"><img src="pictures/linkedin.svg" alt="linkedin"/></a>
    </div>

    <ul class="list-inline">
        <img src="pictures/location.svg" alt=""/>
        <span>
          <li class="list-inline-item">3553 Finwood Road <br/>NewJersey, NJ</li>
        </span>
        <img src="pictures/phone.svg" alt=""/><span>
          <li class="list-inline-item">405-298-5448</li>
        </span>
        <img src="pictures/email.svg" alt=""/><span>
          <li class="list-inline-item">asjvavjsd@asdad.com</li>
        </span>
    </ul>

    <p class="">Escape Games © 2021</p>
</footer>