<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ title }}</title>
    {# change this line if you are running website on a real server or you are using another port #}
    {# <base href="https://enos.itcollege.ee/~ragafa/escape-room-project/"> #}
    <base href="https://enos.itcollege.ee/~vugafa/EscapeRoom/">
    {# <base href="http://localhost:8000/"> #}
    <script src="https://kit.fontawesome.com/0a27b9ed69.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles/style.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="scripts/progress.js" defer></script>
</head>