<!DOCTYPE html>
<html lang="en">

{% include 'views/head.html.twig' with {'title': 'Log in'} %}

<body>
{% include 'views/header.html.twig' %}

<main class="main-container">
    <form action="src/login.php" method="post" class="form">
        <h1>Log in</h1>
        <div class="form-item">
            <label for="username">Username</label>
            <input id="username" type="text" placeholder="Enter Username" name="username" required
                   value="{{ username }}"/>
        </div>
        <div class="form-item">
            <label for="password">Password</label>
            
            <span <i class="fas fa-eye" id="reveal-pwd" onclick=showPwd()></i> </span>
            <input id="password" type="password" placeholder="Enter Password" name="password" required/>
        </div>
        <div class="form-item">
            <button type="submit" class="button primary">Log in</button>
            <a href="src/signup.php" class="button secondary">Create account</a>
        </div>
        <p class="error-message">{{ error }}</p>
    </form>
    <div id="progressbar"></div>
    <div id="scrollPath"></div>
</main>
{{ include('views/footer.html.twig') }}
</body>
</html>